html {
  scroll-behavior: smooth;
}

body header {
  font-family: Questrial, sans-serif;
  font-weight: 600;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  width: 1280px;
  margin: 0 auto;
}
body main {
  font-family: Questrial, sans-serif;
  font-weight: 600;
  width: 1280px;
  margin: 0 auto;
}

p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
/************ HEADER *************/

header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.leftPart {
  display: flex;
  justify-content: flex-start;
}

.rightPart {
  display: flex;
  justify-content: flex-end;
}

header img {
  height: 45px;
  align-self: center;
}

header ul {
  display: flex;
  justify-content: flex-end;
}

header ul li {
  align-self: center;
  justify-content: flex-end;
  padding: 10px 15px;
  color: #333333;
  cursor: pointer;
}

.blackbutton {
  background-color: black;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.blackbutton:hover {
  background-color: #333333;
  color: #ffffff;
}

header ul li:not(:nth-child(4)):hover {
  border: 2px solid #333333;
  padding: 7px 13px;
  border-radius: 10px;
}

header input {
  width: 346px;
  height: 38px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  align-self: center;
  padding: 0 12px;
  margin-left: 15px;
  align-items: center;
}

header input:focus {
  border: none;
}

/************ CATEGORIES *************/
main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-top: 50px;
  font-size: 50px;
}

main h1 span:first-child {
  color: #ff5d5d;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.categories div {
  display: flex;
  justify-content: space-between;
  padding: 11px 13px 11px 14px;
  border: 1px solid black;
  border-radius: 12px;
  height: 100%;
  min-height: 48px;
  max-width: 40px;
  width: 100%;
  min-width: 140px;
  cursor: pointer;
}

.categories div:hover {
  background-color: black;
  color: #ffffff;
  fill: #ffffff;
}

.categories div:not(svg) {
  padding-top: 15px;
}

/************ PICTURES *************/

.pictures {
  display: flex;
  width: 1280px;
  height: 430px;
  margin-top: 25px;
  justify-content: space-around;
}

.pictures img {
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}
.pictures > img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 850px;
}
.pictures div {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  object-position: center;
}
.pictures div img {
  object-fit: cover;
  object-position: center;
  max-height: 214px;
  margin-left: 2px;
}

.pictures div img:first-child {
  margin-bottom: 2px;
  border-top-right-radius: 15px;
}
.pictures div img:last-child {
  border-bottom-right-radius: 15px;
}

/************ MINI NAV *************/

.miniNav {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.miniNav span {
  font-size: 12px;
  color: #333333;
  font-weight: 200;
}

/************ DESCRIPTION & MAP *************/
.descriptionMap {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
}

.descriptionMap div span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 13px;
  display: block;
}

/** DESCRIPTION & MAP **/

.createTravel {
  margin-left: 70px;
  font-weight: 400;
  font-size: 18px;
}

.createTravel .topPart {
  background-color: #ff5d5d;
  height: 200px;
  width: 480px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px;
}

.createTravel img {
  object-fit: cover;
  width: 100%;
  max-height: 190px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.createTravel .blackbutton {
  padding: 18px 16px;
  border-radius: 21px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.topPart div:first-child {
  font-size: 25px;
  font-weight: 1000;
}

/************ CONSEILS DE VOYAGE *************/

.travelAdvice div {
  display: flex;
  flex-direction: row-reverse;
  font-size: 15px;
  color: #333333;
  font-weight: 200;
}

.travelAdvice ul {
  display: flex;
  justify-content: space-between;
}

.travelAdvice ul li {
  width: 290px;
  height: 75px;
  border: solid 2px #e0e0e0;
  border-radius: 17px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.travelAdvice ul li:hover {
  border: black solid 2px;
}

.travelAdvice img {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

.travelAdvice ul li span {
  font-size: 18px;
  font-weight: 400;
}

.travelAdvice div {
  margin: 30px 0;
}

.travelAdvice a:hover {
  text-decoration: underline;
}
/************ IMMANQUABLE A PARIS *************/

.unmissParis div {
  display: flex;
  justify-content: space-between;
}

.unmissParis .leftPart {
  width: 300px;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  margin-bottom: 50px;
}

.unmissParis span {
  font-size: 14px;
}

.unmissParis .leftPart span:first-child {
  font-size: 22px;
  margin-bottom: 20px;
}

.unmissParis p {
  margin-bottom: 20px;
}

.unmissParis .rightPart {
  width: 980px;
  background-color: lightpink;
}

/** CARROUSSEL **/
.carroussel {
  width: 980px;
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-x: scroll;
}

.carroussel .card:not(:last-child) {
  margin-right: 10px;
}

.carroussel .card {
  height: 202px;
  width: 304px;
  flex: 1;
  flex-shrink: 0;
  object-fit: cover;
}

.carroussel .card img {
  object-fit: cover;
  object-position: center;
}

/************ FOOTER *************/

footer {
  height: 156px;
  background-color: #faf1ed;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
footer div {
  font-family: Questrial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  min-width: 1280px;
  margin: 0 auto;
}

footer a:hover {
  color: #ff5d5d;
}
